# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Build / compiler
*.o
*.exe
*.out
*.ilk
*.pdb
*.map

# wxWidgets / generic C++
build/
cmake-build-*/
Debug/
Release/

# Your user data (important not to push)
users.txt
